[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
zappa = "*"
psycopg2 = "*"
drf-nested-routers = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
django-s3-storage = "*"
django-cors-headers = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
pendulum = "*"
djangorestframework = "*"
django-simple-history = "*"

[dev-packages]

[requires]
python_version = "3.8"
